.main-home {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
    url("../assets/marvel-bg.jpg") no-repeat;
  background-size: cover;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.main-home p {
  /* display: inline;
  width: auto; */
  margin-bottom: 150px;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: -3px;
  transform: scaleY(1.9);
  color: var(--white-color);
  /* background-color: var(--red-color); */
  padding: 0 2px;
  line-height: 0.8;
}

.main-home p span {
  display: inline-block;
  background-color: var(--red-color);
  color: var(--white-color);
  padding: 0 2px;
  transform: scaleY(1);
}

.main-home p span.red {
  color: var(--red-color);
  background-color: transparent;
}
