.item-flip-wrapper {
  min-width: 280px;
  max-width: 300px;
  height: 400px;
  background-color: var(--black-color);
  margin: 0 2px 20px 2px;
  border: 3px solid transparent;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  position: relative;
  transform-style: preserve-3d;
  perspective: 5000px;
  transition: transform 0.8s;
}

.comics-item:hover .item-flip-wrapper {
  transform: rotateX(-180deg);
}

.card {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform-style: preserve-3d;
}

.card.front {
  backface-visibility: hidden;
}

.card.back {
  width: 100%;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  color: var(--white-color);
  background-color: var(--black-color);
}

.title-flip-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-flip-title {
  text-align: center;
  padding: 10px;
}

.img-flip-wrapper {
  width: 100%;
  flex: 1;
}

.img-flip-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description-flip-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description-flip {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 700;
}
