/* general rules */
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2rem;
}
p {
  font-size: 1.4em;
}
a {
  color: var(--white-color);
  text-decoration: none;
}
main {
  font-size: 1.6rem;
}

*::placeholder {
  text-align: center;
}

/* main container on personnages and comics pages */
main {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter input {
  width: 350px;
  font-size: 1.8rem;
  padding: 10px 50px;
  border: 3px solid var(--red-color);
  border-radius: 5px;
  margin: 40px 0;
  background-color: var(--black-color);
  color: var(--white-color);
}

.filter input:focus-visible {
  outline-color: var(--red-color);
  outline-width: 10px;
  outline: 1px solid var(--white-color);
  outline-offset: -5px;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
}

.item {
  /* width: 18%; */
  min-width: 200px;
  max-width: 250px;
  height: 400px;
  background-color: var(--black-color);
  margin: 0 2px 20px 2px;
  border: 3px solid transparent;
  border-radius: 5px;
}

.item:hover {
  border: 3px solid var(--red-color);
}

.item:hover .item-title {
  /* color: var(--red-color); */
  text-decoration: underline red;
}

.description-wrapper {
  overflow: hidden;
}

.description {
  padding: 0 2px;
  overflow: hidden;
}

.item-title {
  line-height: 1.3;
}

.page-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.page-container button {
  margin: 0 2px;
  background-color: var(--red-color);
  color: var(--white-color);
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 2rem;
  margin: 2px;
  transition: all 0.4s;
}

.page-container button:hover {
  background-color: var(--black-color);
  color: var(--red-color);
}

.page-container span {
  margin: 0 2px;
  background-color: var(--red-color);
  color: var(--white-color);
  border: none;
  padding: 5px;
  font-size: 2rem;
  margin: 2px;
  transition: all 0.4s;
}

.pages {
  width: 33px;
  height: 33px;
}

.current {
  background-color: var(--black-color) !important;
  color: var(--red-color) !important;
}

.loading {
  font-size: 4rem;
  color: var(--red-color);
  text-align: center;
}
